/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC       &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                                    &kp N6         &kp N7     &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB       &kp Q   &kp W   &kp E     &kp R      &kp T                                     &kp Y          &kp U      &kp I      &kp O    &kp P     &kp BACKSLASH
&kp CAPSLOCK  &kp A   &kp S   &kp D     &kp F      &kp G                                     &kp H          &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT     &kp Z   &kp X   &kp C     &kp V      &kp B         &to 4          &to 3        &kp N          &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                              &kp LGUI  &kp LCTRL  &kp LEFT_ALT  &lt 1 SPACE    &lt 2 ENTER  &kp BACKSPACE  &kp MINUS  &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&kp KP_NUMLOCK  &kp KP_DIVIDE                      &kp KP_NUMBER_7                    &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY                            &none       &none     &none         &none      &none          &none
&none           &kp KP_MINUS                       &kp KP_NUMBER_4                    &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS                                &kp INSERT  &kp HOME  &kp UP_ARROW  &kp END    &kp PAGE_UP    &kp C_VOLUME_UP
&none           &kp KP_EQUAL                       &kp KP_NUMBER_1                    &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_MINUS                               &kp DELETE  &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_DOWN  &kp C_VOLUME_DOWN
&kp ENTER       &mt LEFT_BRACKET LEFT_PARENTHESIS  &mt RIGHT_BRACE RIGHT_PARENTHESIS  &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_PLUS      &sys_reset    &sys_reset  &none       &none     &none         &none      &none          &none
                                                                                      &kp LGUI         &kp LCTRL        &kp LALT         &none         &kp MINUS   &none       &none     &none
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &bootloader    &bootloader  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans         &trans       &trans  &trans  &trans
            >;
        };

        COLEMAK_DH {
            display-name = "Base";
            bindings = <
&kp ESC       &kp N1  &kp N2  &kp N3    &kp N4            &kp N5                                    &kp N6         &kp N7     &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB       &kp Q   &kp W   &kp F     &kp P             &kp B                                     &kp J          &kp L      &kp U      &kp Y    &kp SEMI  &kp BACKSLASH
&kp CAPSLOCK  &kp A   &kp R   &kp S     &kp T             &kp G                                     &kp M          &kp N      &kp E      &kp I    &kp O     &kp APOS
&kp LSHFT     &kp Z   &kp X   &kp C     &kp D             &kp V         &to 4          &to 0        &kp K          &kp H      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                              &kp LGUI  &kp LEFT_CONTROL  &kp LEFT_ALT  &lt 1 SPACE    &lt 0 ENTER  &kp BACKSPACE  &kp MINUS  &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        GAMING {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3        &kp N4            &kp N5                      &none  &none  &none      &none     &none     &none
&kp TAB         &kp Q   &kp W   &kp E         &kp R             &kp T                       &none  &none  &none      &none     &none     &none
&kp LCTRL       &kp A   &kp S   &kp D         &kp F             &kp G                       &none  &none  &none      &none     &kp UP    &none
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C         &kp V             &kp B   &to 0        &none  &none  &none  &none      &kp LEFT  &kp DOWN  &kp RIGHT
                                &kp LEFT_ALT  &kp LEFT_CONTROL  &mo 5   &kp SPACE    &none  &none  &none  &kp RCTRL
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
